<form
  [formGroup]="form"
  action=""
  class="add-user-form"
  (ngSubmit)="handleSubmit()"
>
  <div class="add-user-form__item">
    <kendo-textbox
      class="add-user-form__control"
      formControlName="userName"
      placeholder="Enter Name"
      showSuccessIcon="initial"
      showErrorIcon="initial"
    ></kendo-textbox>
  </div>

  <div class="add-user-form__item">
    <kendo-dropdownlist
      class="add-user-form__control"
      formControlName="gender"
      [data]="genderFormOptionsWithoutDefault"
      [defaultItem]="defaultGenderFormOption"
      textField="text"
      valueField="value"
      [valuePrimitive]="true"
    >
    </kendo-dropdownlist>
  </div>

  <div class="add-user-form__item">
    <kendo-datepicker
      class="add-user-form__control"
      formControlName="dateOfBirth"
    ></kendo-datepicker>
  </div>

  <div class="add-user-form__item">
    <kendo-dropdownlist
      class="add-user-form__control"
      formControlName="educationDirection"
      [data]="directionOfStudyFormOptionsWithoutDefault"
      [defaultItem]="defaultDirectionOfStudyFormOption"
      textField="text"
      valueField="value"
      [valuePrimitive]="true"
    >
    </kendo-dropdownlist>
  </div>

  <div class="add-user-form__item">
    <kendo-datepicker
      class="add-user-form__control"
      formControlName="educationStartDate"
    ></kendo-datepicker>
  </div>

  <div class="add-user-form__item">
    <kendo-datepicker
      class="add-user-form__control"
      formControlName="educationEndDate"
    ></kendo-datepicker>
  </div>

  <div class="add-user-form__actions">
    <button kendoButton [primary]="true" type="submit">Add user</button>
  </div>
</form>
