<form
  [formGroup]="form"
  action=""
  class="add-user-form"
  (ngSubmit)="handleSubmit()"
>
  <!-- <div class="add-user-form__item">
    <kendo-textbox
      class="add-user-form__control"
      formControlName="userName"
      placeholder="Enter Name"
      showSuccessIcon="initial"
      showErrorIcon="initial"
    ></kendo-textbox>
  </div> -->

  <div class="add-user-form__item">
    <kendo-formfield>
      <kendo-label text="User name">
        <kendo-textbox
          class="add-user-form__control"
          formControlName="userName"
          placeholder="Enter Name"
          showSuccessIcon="initial"
          showErrorIcon="initial"
          (valueChange)="onUserNameChange($event)"
        ></kendo-textbox>
      </kendo-label>

      <kendo-formhint *ngIf="form.controls.userName.value.length === 0"
        >Please, enter user name. User name must be unique.</kendo-formhint
      >
      <kendo-formerror *ngIf="form.controls.userName.errors?.minlength"
        >The user name must contain a minimum of
        {{ form.controls.userName.errors?.minlength?.requiredLength }}
        symbols.</kendo-formerror
      >
      <kendo-formerror *ngIf="form.controls.userName.errors?.maxlength"
        >The user name must contain a maximum of
        {{ form.controls.userName.errors?.maxlength?.requiredLength }}
        symbols.</kendo-formerror
      >
      <kendo-formerror
        *ngIf="form.controls.userName.errors?.invalidUserNameUniqueness"
        >The user name must be unique.</kendo-formerror
      >
      <kendo-formerror
        *ngIf="
          form.controls.userName.touched &&
          form.controls.userName.errors?.required
        "
        >Ther user name is required.</kendo-formerror
      >
    </kendo-formfield>
  </div>
  <div class="add-user-form__item">
    <!-- <kendo-label text="Gender"> </kendo-label> -->
    <kendo-dropdownlist
      class="add-user-form__control"
      formControlName="gender"
      [data]="genderFormOptionsWithoutDefault"
      [defaultItem]="defaultGenderFormOption"
      textField="text"
      valueField="value"
      [valuePrimitive]="true"
    >
    </kendo-dropdownlist>
    <!-- <kendo-formfield> </kendo-formfield> -->
  </div>

  <div class="add-user-form__item">
    <kendo-datepicker
      class="add-user-form__control"
      formControlName="dateOfBirth"
    ></kendo-datepicker>
  </div>

  <div class="add-user-form__item">
    <kendo-dropdownlist
      class="add-user-form__control"
      formControlName="educationDirection"
      [data]="directionOfStudyFormOptionsWithoutDefault"
      [defaultItem]="defaultDirectionOfStudyFormOption"
      textField="text"
      valueField="value"
      [valuePrimitive]="true"
    >
    </kendo-dropdownlist>
  </div>

  <div class="add-user-form__item">
    <kendo-datepicker
      class="add-user-form__control"
      formControlName="educationStartDate"
    ></kendo-datepicker>
  </div>

  <div class="add-user-form__item">
    <kendo-datepicker
      class="add-user-form__control"
      formControlName="educationEndDate"
    ></kendo-datepicker>
  </div>

  <div class="add-user-form__actions">
    <button kendoButton [primary]="true" type="submit">Add user</button>
    <button kendoButton type="button" (click)="handleCancel($event)">
      Cancel
    </button>
  </div>
</form>
