<form
  [formGroup]="form"
  action=""
  class="add-user-form"
  (ngSubmit)="handleSubmit()"
>
  <div class="add-user-form__user-name add-user-form__item">
    <kendo-formfield>
      <kendo-label text="User name">
        <kendo-textbox
          class="add-user-form__control"
          formControlName="userName"
          placeholder="Enter Name"
          showSuccessIcon="initial"
          showErrorIcon="initial"
        ></kendo-textbox>
      </kendo-label>

      <kendo-formhint *ngIf="form.controls.userName.value.length === 0"
        >Please, enter user name. User name must be unique.</kendo-formhint
      >
      <kendo-formerror *ngIf="form.controls.userName.errors?.minlength"
        >The user name must contain a minimum of
        {{ form.controls.userName.errors?.minlength?.requiredLength }}
        symbols.</kendo-formerror
      >
      <kendo-formerror *ngIf="form.controls.userName.errors?.maxlength"
        >The user name must contain a maximum of
        {{ form.controls.userName.errors?.maxlength?.requiredLength }}
        symbols.</kendo-formerror
      >
      <kendo-formerror
        *ngIf="form.controls.userName.errors?.invalidUserNameUniqueness"
        >The user name must be unique.</kendo-formerror
      >
      <kendo-formerror
        *ngIf="
          form.controls.userName.touched &&
          form.controls.userName.errors?.required
        "
        >Ther user name is required.</kendo-formerror
      >
    </kendo-formfield>
  </div>

  <div class="add-user-form__gender add-user-form__item">
    <kendo-formfield>
      <kendo-label text="Gender">
        <kendo-dropdownlist
          class="add-user-form__control"
          formControlName="gender"
          [data]="genderFormOptions"
          [defaultItem]="defaultGenderFormOption"
          textField="text"
          valueField="value"
          [valuePrimitive]="true"
          isRequired="true"
          (valueChange)="handleDropdownChanges()"
        >
        </kendo-dropdownlist>
      </kendo-label>
      <kendo-formerror
        *ngIf="
          form.controls.gender.touched && form.controls.gender.errors?.required
        "
        >Ther gender is required.</kendo-formerror
      >
    </kendo-formfield>
  </div>

  <div class="add-user-form__date-of-birth add-user-form__item">
    <kendo-formfield>
      <kendo-label text="Date of birth">
        <kendo-datepicker
          class="add-user-form__control"
          formControlName="dateOfBirth"
        ></kendo-datepicker>
      </kendo-label>
    </kendo-formfield>
  </div>

  <div class="add-user-form__educational-direction add-user-form__item">
    <kendo-formfield>
      <kendo-label text="Educational direction">
        <kendo-dropdownlist
          class="add-user-form__control"
          formControlName="educationDirection"
          [data]="educationDirectionFormOptions"
          [defaultItem]="defaultEducationDirectionFormOption"
          textField="text"
          valueField="value"
          [valuePrimitive]="true"
        >
        </kendo-dropdownlist>
      </kendo-label>
      <kendo-formerror
        *ngIf="
          form.controls.educationDirection.touched &&
          form.controls.educationDirection.errors?.required
        "
        >Ther gender is required.</kendo-formerror
      >
    </kendo-formfield>
  </div>

  <div class="add-user-form__education-start-date add-user-form__item">
    <kendo-formfield>
      <kendo-label text="Education start date">
        <kendo-datepicker
          class="add-user-form__control"
          formControlName="educationStartDate"
        ></kendo-datepicker>
      </kendo-label>
    </kendo-formfield>
  </div>

  <div class="add-user-form__education-end-date add-user-form__item">
    <kendo-formfield>
      <kendo-label text="Education end date">
        <kendo-datepicker
          class="add-user-form__control"
          formControlName="educationEndDate"
        ></kendo-datepicker>
      </kendo-label>
    </kendo-formfield>
  </div>

  <div class="add-user-form__actions">
    <button kendoButton [primary]="true" type="submit">Add user</button>
    <button kendoButton type="button" (click)="handleCancel($event)">
      Cancel
    </button>
  </div>
</form>
