<p>add-user-form works!</p>
<form
  [formGroup]="form"
  action=""
  class="add-user-form"
  (ngSubmit)="handleSubmit()"
>
  <kendo-textbox
    formControlName="userName"
    placeholder="Enter Name"
    showSuccessIcon="initial"
    showErrorIcon="initial"
  ></kendo-textbox>

  <kendo-dropdownlist
    formControlName="gender"
    [data]="genderFormOptionsWithoutDefault"
    [defaultItem]="defaultGenderFormOption"
    textField="text"
    valueField="value"
    [valuePrimitive]="true"
  >
  </kendo-dropdownlist>

  <kendo-datepicker formControlName="dateOfBirth"></kendo-datepicker>

  <kendo-dropdownlist
    formControlName="educationDirections"
    [data]="directionOfStudyFormOptionsWithoutDefault"
    [defaultItem]="defaultDirectionOfStudyFormOption"
    textField="text"
    valueField="value"
    [valuePrimitive]="true"
  >
  </kendo-dropdownlist>

  <kendo-datepicker formControlName="educationStartDate"></kendo-datepicker>

  <kendo-datepicker formControlName="educationEndDate"></kendo-datepicker>

  <div class="add-user-form__actions">
    <button kendoButton [primary]="true" type="submit">Add user</button>
  </div>
</form>
