<p>add-user-form works!</p>
<form
  action=""
  class="add-user-form"
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
>
  <kendo-textbox
    formControlName="userName"
    placeholder="Enter Name"
    showSuccessIcon="initial"
    showErrorIcon="initial"
  ></kendo-textbox>

  <kendo-dropdownlist
    [data]="dropdownGenders"
    [defaultItem]="defaultGender"
    textField="text"
    valueField="value"
  >
  </kendo-dropdownlist>

  <div class="add-user-form__actions">
    <button kendoButton [primary]="true" type="submit">Add user</button>
  </div>
</form>
