<kendo-grid [data]="users" scrollable="none">
  <kendo-grid-column
    field="userName"
    title="User name"
    [headerStyle]="headerStyle"
    [style]="style"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="gender"
    title="Gender"
    [headerStyle]="headerStyle"
    [style]="style"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="dateOfBirth"
    title="Date of birth"
    [headerStyle]="headerStyle"
    [style]="style"
    [format]="dateFormat"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="educationDirection"
    title="Education direction"
    [headerStyle]="headerStyle"
    [style]="style"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="educationStartDate"
    title="Education start date"
    [headerStyle]="headerStyle"
    [style]="style"
    [format]="dateFormat"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="educationEndDate"
    title="Education end date"
    [headerStyle]="headerStyle"
    [style]="style"
    [format]="dateFormat"
  >
  </kendo-grid-column>
  <kendo-grid-column
    title="Actions"
    [headerStyle]="headerStyle"
    [style]="style"
  >
    <ng-template kendoGridCellTemplate let-user>
      <button
        class="users-table__button users-table__button--edit-user"
        kendoButton
        (click)="editUser(user)"
      >
        Edit
      </button>
      <button
        class="users-table__button users-table__button--remove-user"
        kendoButton
        [primary]="true"
        (click)="removeUser(user)"
      >
        Remove
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
