<kendo-grid [data]="users" scrollable="none">
  <kendo-grid-column
    field="userName"
    title="User name"
    [headerStyle]="headerStyle"
    [style]="style"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="gender"
    title="Gender"
    [headerStyle]="headerStyle"
    [style]="style"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="dateOfBirth"
    title="Date of birth"
    [headerStyle]="headerStyle"
    [style]="style"
    [format]="dateFormat"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="educationDirection"
    title="Education direction"
    [headerStyle]="headerStyle"
    [style]="style"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="educationStartDate"
    title="Education start date"
    [headerStyle]="headerStyle"
    [style]="style"
    [format]="dateFormat"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="educationEndDate"
    title="Education end date"
    [headerStyle]="headerStyle"
    [style]="style"
    [format]="dateFormat"
  >
  </kendo-grid-column>
</kendo-grid>
